html, body {
	margin: 0px;
	background-color: #2F4F30;
	color: white;
}

.game-title {
	text-align: center;
	background-color: black;
	color: white;
	padding: 20px;
	font-size: 25px;
}

.game-card {
	width: 150px;
	position: relative;
	left: 100px;
	margin-left: -75px;
}

.game-cards {
	height: 240px;
}